/* Notification */

.notification {
  border-bottom: 1px solid #e5e5e5;

  color: #666666;
}

.unread {
  background-color: #F3F6F9;
}

.category, .text, .date {
  padding: 25px 0;
}

.category {
  padding-left: 46px;

  position: relative;
}

.unread .category::before {
  content: '';

  width: 9px;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}

.crit::before {
  background-color: #CD3E3E;
}

.info::before {
  background-color: #4174F7;
}

.success::before {
  background-color: #8BD244;
}

.warn::before {
  background-color: #E3D552;
}

.error::before {
  background-color: rgb(197, 97, 4);
}

.text {
  width: 825px;

  text-transform: capitalize;
}

.date {
  width: 200px;
  padding-right: 116px;
}