/* Notification */

.notification {
  border-bottom: 1px solid #e5e5e5;

  color: #666666;

  cursor: pointer;
  transition: 0.3s;
}

.notification:hover {
  opacity: 0.6;
}

.notification:active {
  opacity: 0.4;
}

.unread {
  background-color: #F3F6F9;
}

.category, .text, .date {
  padding: 25px 0;
}

.category {
  padding-left: 46px;

  position: relative;
}

.unread .category::before {
  content: '';

  width: 9px;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}

.CRIT::before {
  background-color: #CD3E3E;
}

.INFO::before {
  background-color: #4174F7;
}

.SUCCESS::before {
  background-color: #8BD244;
}

.WARN::before {
  background-color: #E3D552;
}

.ERROR::before {
  background-color: rgb(197, 97, 4);
}

.text {
  width: 825px;

  text-transform: capitalize;
}

.date {
  width: 200px;
  padding-right: 116px;
}
