/* Task */

.task {
  border-bottom: 1px solid #e5e5e5;

  color: #666666;

  cursor: pointer;
  transition: 0.3s;
}

.task:hover {
  opacity: 0.6;
}

.task:active {
  opacity: 0.4;
}

.incomplete {
  background-color: #f3f6f9;
}

.category,
.text,
.date {
  padding: 25px 0;
}

.category {
  padding-left: 46px;

  position: relative;
}

.incomplete .category::before {
  content: '';

  width: 9px;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}

.crit::before {
  background-color: #cd3e3e;
}

.info::before {
  background-color: #4174f7;
}

.success::before {
  background-color: #8bd244;
}

.warn::before {
  background-color: #e3d552;
}

.error::before {
  background-color: #c56104;
}

.debug::before {
  background-color: #fc2aab;
}

.text {
  width: 825px;

  text-transform: capitalize;
}

.date {
  width: 200px;
  padding-right: 116px;
}
