/* ReadAll */

.button {
  width: 100%;
  padding: 23px 0;
  border: none;

  background-color: #51A8E7;

  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}