.form {
	text-align: center;
}

.title {
	margin-bottom: 15px;

	font-size: 24px;
	font-weight: 500;
}

.description {
	margin-bottom: 15px;

	font-size: 18px;
}

.subtitle {
	margin-bottom: 10px;

	font-size: 18px;
	font-weight: 500;
}

.fieldset {
}

.input-wrapper {
	margin-bottom: 10px;
}

.input-wrapper:last-child {
	margin-bottom: 20px;
}

.input-type-text {
	width: 40%;
	padding: 10px;
	border: none;

	font-size: 18px;
	text-align: center;
	color: #ffffff;

	background: #006c7c;
}

.label {
	display: block;

	font-size: 18px;
}

.submit {
	width: 25%;
	margin-bottom: 25px;
	border: 2px solid #006c7c;
	border-radius: 10px;

	background-color: #ffffff;
}

.analog {
}

.analog-link {
}
