{
	"extends": ["prettier", "plugin:react/recommended"],
	"plugins": ["prettier", "jest"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"rules": {
		"prettier/prettier": ["error"]
	},
	"env": {
		"browser": true,
		"jest": true
	},
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx"],
				"paths": ["./src"]
			}
		}
	}
}
