.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.data-wrapper {
	width: 50%;
}

.title {
	font-size: 24px;
	font-weight: 600;
	color: #006c7c;
}

.block-title {
	margin-bottom: 14px;

	font-size: 20px;
}

.details {
	margin-bottom: 35px;
}

.details-item {
	margin: 0 0 7px 0;
	padding: 0;

	font-size: 18px;
}

.details-value {
	font-weight: 600;
	color: #006c7c;
}

.description {
	margin-bottom: 60px;
}

.description-text {
	height: 250px;

	font-size: 18px;

	overflow: auto;
}
