.wrapper {
	display: flex;
	align-items: center;
}

.list {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.item {
	margin-left: 20px;
	padding: 0;
}

.link {
	display: block;

	padding: 11px 27px;
	border: 2px solid #ffffff;
	border-radius: 10px;

	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;

	transition: 0.3s;
}

.link:hover {
	border-color: #fff;

	background-color: #fff;

	color: #006c7c;
}

@media screen and (max-width: 900px) {
	.item:first-child {
		margin: 0;
	}
}

@media screen and (max-width: 690px) {
	.item {
		margin-left: 10px;
	}

	.link {
		padding: 8px 15px;

		font-size: 15px;
	}
}

@media screen and (max-width: 365px) {
	.item {
		margin-left: 7px;
	}

	.link {
		font-size: 12px;
	}
}
