/* Header */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	padding: 11px 46px;

	background-color: #006c7c;
}

@media screen and (max-width: 900px) {
	.header {
		flex-direction: column;
	}
}

@media screen and (max-width: 460px) {
	.header {
		padding: 9px 20px;
	}
}

@media screen and (max-width: 385px) {
	.header {
		padding: 7px 10px;
	}
}
