/* Header */

.header {
  padding: 18px 0 18px 46px;

  background-color: #4174F7;
}

.title {
  margin: 0;

  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  color: #ffffff;
}
